package ${config.basePackage}.${config.entityPackageName};

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableLogic;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.FieldFill;
import lombok.Data;
#foreach($import in $entity.imports)
import ${import};
#end

/**
 * ${entity.className} class
 *
 * @Description ${entity.tableComment}
 **/
@Data
@TableName(value = "${entity.tableName}")
public class ${entity.className} {
#foreach($column in $entity.columns)

    /**
     * ${column.comment}  DbType: ${column.dbTypeDesc}
     */
#if($column.isPrimaryKey)
    @TableId(value = "${column.columnName}"#if(${column.isAutoIncrement}), type = IdType.AUTO#end)
#else
    @TableField(value = "${column.columnName}"#if($column.isAutoFillWhenInsert), fill = FieldFill.INSERT#elseif($column.isAutoFillWhenUpdate), fill = FieldFill.UPDATE#elseif($column.isAutoFillWhenInsertOrUpdate), fill = FieldFill.INSERT_UPDATE#end)
#end
#if(${column.isLogicalDeleteField})
    @TableLogic
#end
    private ${column.getSimpleJavaType()} ${column.fieldName};
#end

}