package ${config.basePackage}.${config.dtoPackageName};

#foreach($import in $definition.getExternalImportsWithFilter())
import $import;
#end

/**
 * @ClassName ${definition.name}
 * @Description ${definition.description}
 * @Author api-codegen
 **/
#foreach($annotation in $definition.getValidateAnnotationHolder().get())
${annotation.toString()}
#end
public class ${definition.name} {

#foreach($field in $definition.fields)

    /**
     * ${field.description}
     */
#foreach($annotation in $field.getValidateAnnotationHolder().get())
    ${annotation.toString()}
#end
    private ${field.type} ${field.name}$field.value();
#end

}