package ${config.basePackage}.dtos;

import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonInclude.Include;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
import lombok.Data;
import java.util.List;
import java.time.LocalDate;
import java.time.LocalDateTime;
import javax.validation.Valid;

/**
 * @ClassName ${definition.name}
 * @Description ${definition.description}
 * @Author api-codegen
 **/
@Data
@JsonInclude(Include.NON_NULL)
public class ${definition.name} {

#foreach($property in $definition.properties)

    /**
     * ${property.description}
     */
#if($property.required)
    @NotNull
#end
#if($property.requiredValid())
    @Valid
#end
    private ${property.type} ${property.name}$property.value();
#end

}