## 包名
package ${config.basePackage}.${config.feignClientPackageName};

## import 依赖
#foreach($import in $controller.getExternalImports())
import $import;
#end
import ${config.basePackage}.${config.dtoPackageName}.*;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.cloud.openfeign.FeignClient;
/**
 * @InterfaceName FeignClient-${controller.feignClientName}
 * @Description ${controller.description}
 * @Author api-codegen
 **/
@RequestMapping("${controller.basePath}")
@Validated
@FeignClient(name = "${config.applicationName}", url = "${config.applicationName}:${config.applicationServerPort}")
public interface ${controller.feignClientName} {

#if($controller.handlerMethods)
#foreach($handlerMethod in $controller.handlerMethods)

    /**
     * <pre>
     * $handlerMethod.summary @Summary
     * </pre>
     * $handlerMethod.description @Description
     *
#foreach($handlerMethodParam in $handlerMethod.handlerMethodParams)
     * @param ${handlerMethodParam.name} ${handlerMethodParam.description}
#end
## 如果返回类型不为void，则需要增加描述
#if($handlerMethod.handlerMethodReturn.hasReturn())
     * @return ${handlerMethod.handlerMethodReturn.description}
     */
#else
     */
#end
#if($handlerMethod.enableResponseBody())
    @ResponseBody
#end
    @RequestMapping(value = "$handlerMethod.url",
            method = RequestMethod.$handlerMethod.requestType,
            produces = {#foreach($produce in $handlerMethod.produces)"$produce"#if($velocityCount<$handlerMethod.produces.size()),#end#end},
            consumes = {#foreach($consume in $handlerMethod.consumes)"$consume"#if($velocityCount<$handlerMethod.consumes.size()),#end#end})
    public $handlerMethod.handlerMethodReturn.type ${handlerMethod.methodName}(#if($handlerMethod.handlerMethodParams)#foreach($handlerMethodParam in $handlerMethod.handlerMethodParams)
#if($handlerMethodParam.tag == 3)##路径参数
@PathVariable("$handlerMethodParam.name") $handlerMethodParam.type $handlerMethodParam.name#if($velocityCount<$handlerMethod.handlerMethodParams.size()),
            #end
#elseif($handlerMethodParam.tag == 2)##请求体参数
@Validated #if($handlerMethod.enableRequestBody())@RequestBody #end$handlerMethodParam.type ${handlerMethodParam.name}#if($velocityCount<$handlerMethod.handlerMethodParams.size()),
            #end
#elseif($handlerMethodParam.tag == 1)##查询参数
@Validated $handlerMethodParam.type ${handlerMethodParam.name}#if($velocityCount<$handlerMethod.handlerMethodParams.size()),
            #end
#end#end#end);
#end
#end


}